<header class="align-items-center d-flex gap-2 justify-content-between">
  <div class="logo">
    <img
      src="../../../assets/images/logo/logo.jpg"
      alt="logo"
      class="h-100 object-fit-cover w-100"
    />
  </div>
  <div class="header-details">
    <div class="lang-section align-items-center d-flex gap-2">
      <img src="../../../assets/images/icons/medal.png" alt="meddle" />
      <div class="lang">
        <button>En</button>
        <button>En</button>
        <button>En</button>
      </div>
    </div>
    <div class="price-container d-flex gap-2 align-items-end">
      <div class="price">LKR <br />34,231.96</div>
      <div class="notification-icon" notification="12">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
        ></mat-icon>
      </div>
      <div class="user-details d-flex align-items-center gap-2 mb-1">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="account_circle"
        ></mat-icon>
        <span>RP</span>
      </div>
    </div>
  </div>
</header>
