<app-header></app-header>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs home-nav">
  @for(card of [1,2,3,4,5,6,7,8]; track $index) {

  <li [ngbNavItem]="$index + 1">
    <button ngbNavLink>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="sports_esports"
      ></mat-icon>
      <span>eSports</span>
    </button>
    <ng-template ngbNavContent>
      <app-main-result></app-main-result>
    </ng-template>
  </li>
  }
</ul>

<div class="row">
  <div class="col-3">
    <app-filter-section></app-filter-section>
  </div>
  <div class="col-6">
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  <div class="col-3">
    <app-result-preview></app-result-preview>
  </div>
</div>
